{% extends "base.html" %}

{%load static%}
<html>


{% block body_block %}
<head>
    <title>first_App
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
  <body>
    
    
 
<div id="div1"class="container">
      <div class="row">
      <div id="kozhi"><h2 id="koyi">NATIONAL PUBLIC SCHOOL</h2></div>
      </div>
    


    <div class="row">
      <div class="col-sm-12"> 
        <table  class="table table-hover">
          <th><a href="#">ABOUT SCHOOL</a></th>
          <th><a href="#">DIRECTORY</a></th>
          <th><a href="#">HISTORY</a></th>
          <th><a href="#">GAMES</a></th>
          <th><a href="#">SCIENCE</a></th>
          <th><a href="#">NOTICE</a></th>
      </tr>
    </table>
    </div>
    </div>
    <hr class="new4">
    <div class="row">
      <div id="div4"class="col-sm-3">
        <img class="d-block w-100" src="{%static 'images/download (3).jfif'%}" alt="Second slide"id="img2"></div>
         <div id="div4"class="col-sm-3">
       <img class="d-block w-100" src="{%static 'images/download (4).jfif'%}" alt="Second slide"id="img2">
     </div> 
       <div id="div4"class="col-sm-3"><img class="d-block w-100" src="{%static 'images/download xdb(5).jfif'%}" alt="Second slide"id="img2"></div> 
       <div id="div4"class="col-sm-3"><img class="d-block w-100" src="{%static 'images/images ca(3).jfif'%}" alt="Second slide"id="img2">
       </div>
    </div><br>
    <hr class="new4">
    <div class="row">
      <div id="div4"class="col-sm-9"> 
        <img class="d-block w-100" src="{%static 'images/haverford_college.jpg'%}" alt="Second slide"id="img2">
      </div>
    


    
 <div class="col-sm-3"> Click on an image to view in full screen. Places To Visit In Kozhikode . Elathur. … Vidyanagar, Kasargod. Bekal Fort. Largest Fort in Kerala. Bela Church, Malik Dinar Mosque and Mahalingeswara Temple. Theyyam. Popular Ritual form of Worship. Yakshagana. Yakshagana - Popular Folk Drama. Poorakkali and Oppana. Bekal Fort and Beach. A Panaromic View of Bekal Beach from the Fort.Kasargod District was organised as a separate district on 24 May 1984. It is the northernmost district of Kerala and is named after Kasaragod town which is the administrative headquarters of the district. 
</div>
</div>
       
      </div>

</div>
<!-- <footer>
    
<div class="footer">
  <div class="inner-footer">
 

    <div class="footer-items">
      <h3>Quick Links</h3>
      <div class="border1"></div> 
        <ul>
          <a href="#"><li>Home</li></a>
          <a href="#"><li>Search</li></a>
          <a href="#"><li>Contact</li></a>
          <a href="#"><li>About</li></a>
        </ul>
    </div>

    <div class="footer-items">
      <h3>Recipes</h3>
      <div class="border1"></div>  
        <ul>
          <a href="#"><li>Indian</li></a>
          <a href="#"><li>Chinese</li></a>
          <a href="#"><li>Mexican</li></a>
          <a href="#"><li>Italian</li></a>
        </ul>
    </div>
 

    <div class="footer-items">
      <h3>Contact us</h3>
      <div class="border1"></div>
        <ul>
          <li><i class="fa fa-map-marker" aria-hidden="true"></i>XYZ, abc</li>
          <li><i class="fa fa-phone" aria-hidden="true"></i>123456789</li>
          <li><i class="fa fa-envelope" aria-hidden="true"></i>keralatourisamsweb@gmail.com</li>
        </ul> 

    </div>
  </div>
   

  <div class="footer-bottom">
    Copyright &copy; keralatourisamweb 2020.
  </div>
</div>
   

   
</footer>
 -->
</div>


</div> 


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</body>

</html>

{% endblock %}