h1 {
    color: #D35400 ;
    font-family: Courier New
Lucida Console
Monaco;
}
h1:hover{
	background-color: yellow;
}


h2{
	margin-left: 300px;
	font-family: Courier New
Lucida Console
Monaco
}
#content_tst{
	font-family: Courier New
Lucida Console
Monaco

}
#bod_txt{
	text-align: center;
	font-family: Courier New
Lucida Console
Monaco
   font-size:30px;
   color: red;
}
#hod_image{
	border-radius: 50%;
}
#hod_image:hover {
	opacity: 0.7;
}
#g_txt{
	color: red;
	font-family: Courier New
Lucida Console
Monaco
   /* margin-left:500px;*/
}
#gal{
	border: 5px solid black;
	}
hr.new4 {
  border: 1px solid black;
}

#img_logo:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  border-radius: 30px;
}
#first_a:hover {
  background-color: gold;
}
#first_a{
	color: white;
	font-family: Arial
Verdana
Helvetica
}
#location{
	color: red;
	font-family:Brush Script MT
Lucida Handwriting;
    font-size: 30px;
}
#l_txt{
	font-family:Brush Script MT
Lucida Handwriting;
    margin-left: 400px;
    color: green;

}
/*#log_body{
	background-color: yellow;
}*/

.div1 {
    background-color:white;
}
#koyi{
	color: green;
	margin-left: 300px;
}

#fot {
  background-color:black;
}




#log_a{
	color: white;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:300);
header .header{
  background-color: #fff;
  height: 45px;
}
header a img{
  width: 134px;
margin-top: 4px;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

body {
  background-color: #328f8a;
  background-image: linear-gradient(45deg,#328f8a,#08ac4b);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}